.list {
  background-color: rgb(176, 211, 240);
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #00000058;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0.5rem 0.5rem 2rem rgb(203, 241, 242),
    -0.5rem -0.5rem 2rem rgb(145, 226, 234);
}

.item {
  background-color: #fff;
  border: 1px solid #00000061;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.contact {
  margin-right: 30px;
}


